.infoot{padding-top:2rem ;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;


}
footer{
    height: 20vh;
    background-color: rgb(233, 153, 153);
}
.sp{
    display: flex;
    align-items: center;
    justify-content: space-between;
flex-direction: column;
}
.sm{
    display: flex;
    align-items: center;
    justify-content: space-between;
flex-direction: column;
}